*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#banner {
    width: 100%;
    margin-bottom: 0px;
}

#bannerText {
    background: red;
    position:absolute;
    top: 0px;
    width: 100%;
    padding: 25px 0px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#login {
    display: flex;
    background: red;
    padding: 25px 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

#username {
    margin: 0px 5px;
}

#password {
    padding: 10px 5px;
    margin: 0px 5px;
}    

#usernameLabel {
    padding: 10px 5px;
    margin-left: auto;
}

#submit {
    padding: 2px 5px;
    margin: 0px 5px;
}

#cartImg {
    position: absolute;
    right: 50px;
    width: 50px;
    top: 13px;
}



h1 {
    text-align:center;
}

#selectCategory{
    width: 200px;
    font-size: large;
    padding: 2px;

}

.productShowcase {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5vmin 2vmin;
    justify-content: center;
    align-items: center;
    gap: 4vmin;
}

.products {
    width: 350px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 7px black;
    overflow: hidden;

}
.content {
    padding: 1vmin 2vmin;
    display: flex;
    flex-direction: column;
}

.productImage {
    width: 100%;
    transition: all 0.6s ease;
}

.productImage:hover {
    transform: scale(1.1);
}

.category {
    font-size: 0.9em;
    color: #838383;
}

.productTitle {
    font-size: 1em;
    font-weight: normal;
}

.price {
    color: black;
    font-size: 0.9em;
}